<div class="overflow-auto h-screen">
  <div class="p-4 grid grid-rows-[48] grid-cols-[70px,auto] gap-4">
    <div class="row-start-[1] text-sm text-right">0:00 AM</div>
    <div class="row-start-[2] text-sm text-right"></div>
    <div class="row-start-[3] text-sm text-right">1:00 AM</div>
    <div class="row-start-[4] text-sm text-right"></div>
    <div class="row-start-[5] text-sm text-right">2:00 AM</div>
    <div class="row-start-[6] text-sm text-right"></div>
    <div class="row-start-[7] text-sm text-right">3:00 AM</div>
    <div class="row-start-[8] text-sm text-right"></div>
    <div class="row-start-[9] text-sm text-right">4:00 AM</div>
    <div class="row-start-[10] text-sm text-right"></div>
    <div class="row-start-[11] text-sm text-right">5:00 AM</div>
    <div class="row-start-[12] text-sm text-right"></div>
    <div class="row-start-[13] text-sm text-right">6:00 AM</div>
    <div class="row-start-[14] text-sm text-right"></div>
    <div class="row-start-[15] text-sm text-right">7:00 AM</div>
    <div class="row-start-[16] text-sm text-right"></div>
    <div class="row-start-[17] text-sm text-right">8:00 AM</div>
    <div class="row-start-[18] text-sm text-right"></div>
    <div class="row-start-[19] text-sm text-right">9:00 AM</div>
    <div class="row-start-[20] text-sm text-right"></div>
    <div class="row-start-[21] text-sm text-right">10:00 AM</div>
    <div class="row-start-[22] text-sm text-right"></div>
    <div class="row-start-[23] text-sm text-right">11:00 AM</div>
    <div class="row-start-[24] text-sm text-right"></div>
    <div class="row-start-[25] text-sm text-right">12:00 PM</div>
    <div class="row-start-[26] text-sm text-right"></div>
    <div class="row-start-[27] text-sm text-right">1:00 PM</div>
    <div class="row-start-[28] text-sm text-right"></div>
    <div class="row-start-[29] text-sm text-right">2:00 PM</div>
    <div class="row-start-[30] text-sm text-right"></div>
    <div class="row-start-[31] text-sm text-right">3:00 PM</div>
    <div class="row-start-[32] text-sm text-right"></div>
    <div class="row-start-[33] text-sm text-right">4:00 PM</div>
    <div class="row-start-[34] text-sm text-right"></div>
    <div class="row-start-[35] text-sm text-right">5:00 PM</div>
    <div class="row-start-[36] text-sm text-right"></div>
    <div class="row-start-[37] text-sm text-right">6:00 PM</div>
    <div class="row-start-[38] text-sm text-right"></div>
    <div class="row-start-[39] text-sm text-right">7:00 PM</div>
    <div class="row-start-[40] text-sm text-right"></div>
    <div class="row-start-[41] text-sm text-right">8:00 PM</div>
    <div class="row-start-[42] text-sm text-right"></div>
    <div class="row-start-[43] text-sm text-right">9:00 PM</div>
    <div class="row-start-[44] text-sm text-right"></div>
    <div class="row-start-[45] text-sm text-right">10:00 PM</div>
    <div class="row-start-[46] text-sm text-right"></div>
    <div class="row-start-[47] text-sm text-right">11:00 PM</div>

    {{#each this.slices as |slice|}}
      <div class="row-start-[{{slice.row}}] row-span-{{slice.span}} {{if slice.slice.canceled 'bg-red-200' 'bg-green-200'}} rounded px-4">
        <p><span class="text-2xl">{{slice.slice.name}}</span><span class="text-sm font-bold">{{if slice.slice.canceled ' Canceled' ''}}</span></p>
        <p>{{slice.slice.startTime}} - {{slice.slice.endTime}}</p>
        <p>Max Guests: {{slice.slice.maxGuests}}</p>
        {{#unless slice.slice.canceled}}
          <button id="occupant-{{idx}}-cancel" {{on "click" (fn this.cancel slice.slice)}}>Cancel</button>
        {{/unless}}
        <button id="occupant-{{idx}}-edit" {{on "click" (fn this.edit slice.slice)}}>Edit</button>
      </div>
    {{/each}}
  </div>
</div>
