<h3>Slices</h3>
{{#if this.slices}}
  <table>
    <thead>
      <td>Name</td>
      <td>Date</td>
      <td>Start Time</td>
      <td>End Time</td>
      <td>Max Guests</td>
      <td>Canceled</td>
      <td>Edit</td>
    </thead>
    <tbody>
      {{#each this.slices as |slice idx|}}
        <tr id="slice-{{idx}}">
          <td>{{slice.name}}</td>
          <td>{{slice.date}}</td>
          <td>{{slice.startTime}}</td>
          <td>{{slice.endTime}}</td>
          <td>{{slice.maxGuests}}</td>
          {{#if slice.canceled}}
            <td>YUP</td>
          {{else}}
            <td>NOPE</td>
            <button id="slice-{{idx}}-cancel" {{on "click" (fn this.cancel slice)}}>Cancel</button>
          {{/if}}
          <td>
            <button id="slice-{{idx}}-edit" {{on "click" (fn this.edit slice)}}>Edit</button>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <p>No slices yet, chop chop</p>
{{/if}}
