<div class="grid grid-cols-2 bg-white">
  <div class="p-4 bg-blue-200 border-r-2 border-gray-500">
    <h1 class="text-5xl">Timeslicer</h1>
    <div class="pt-8">
      <SlicerForm @slice={{this.sliceToEdit}} @showForm={{true}} @setEditSlice={{this.setEditSlice}}/>
    </div>
  </div>

  <SlicerList @slices={{this.model}} @edit={{this.setEditSlice}}/>
</div>
